@using Store

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Jewelry

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<p><strong>@Model.Material</strong></p>
<p>@Model.Description</p>
<p>Цена <strong>@Model.Price</strong></p>
<form action="@Url.Action("AddItem", "Order")" method="post">
    <input type="hidden" name="jewelryId" value="@Model.Id" />
    <button class="btn btn-success" type="submit">В корзину</button>
</form>
